@media (max-width: 1200px) {
    .main__text {
        width: 450px;
    }

    .right__text {
        width: 270px;
    }
}
@media (max-width: 992px) {

    .main__content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .left {
        padding: 15px 30px;
        padding-top: 0;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .main__box_right {
        width: unset;
        flex-direction: unset;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .call {
        margin-top: unset;
        padding-right: 10px;
    }

    .title__right {
        margin: unset;
    }

    .right__text {
        padding: 15px 0;
    }

    .nav__list {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .nav__list {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .footer__nav {
        flex-direction: column;
        gap: 30px;
    }

    .main__box_right {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .right__text {
        margin: unset;
    }

    .main__box_box {
        margin: unset;
    }

    .main__title {
        margin-top: 30px;
        margin-left: unset;
    }

    .main__box_right {
        padding-top: unset;
    }
}
@media (max-width: 375px) {
    .main__title {
        margin-top: 30px;
        margin-left: unset;
    }

    .main__box_right {
        padding-top: unset;
    }
}
@media (max-width: 320px) {}