@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 30px;
    text-align: center;
}

.nav__list_link a {
    color: #8C8A8A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.logo {
    margin-top: 50px;
    margin-bottom: 80px;
}

.main {
    margin-top: 30px;
}

.main__banner {
    width: 100%;
}

.main__content {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.main__box_left,
.main__box_right {
    background: #F0F0F0;
    display: inline;
}

.main__title {
    display: inline-block;
    margin-top: 50px;
    margin-left: 40px;
    color: #4581B7;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.main__text {
    width: 595px;
    color: #808080;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
}

.left {
    margin-left: 40px;
    margin-right: 95px;
    margin-bottom: 51px;
}

.main__box_right {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.right__text {
    width: 286px;
    margin-left: 40px;
}

.main__box_box {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
    gap: 30px;
}

.call {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
}

.footer__nav {
    margin-top: 30px;
    background: #F0F0F0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.footer__text_box {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__text {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.footer__call {
    color: #808080;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}